.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--accent-1);
  height: 100%;
}

.reg-title {
  color: #25072f;
  /* color: #eded00; */
  font-size: 80px;
  margin-top: 40px;
  font-family: 'Exo', sans-serif;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 5em;
  font-size: 50px;
  margin: 20px;
}

.register-field {
  margin: 10px;
  border: 1px solid #1da1f2;
  border-radius: 5px;
  font-size: 18px;
  color: var(--text-color-normal);
  padding: 16px 20px;
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.register-button {
  margin: 10px;
  border: 1px solid #1da1f2;
  border-radius: 5px;
  font-size: 18px;
  /* color: grey; */
  /* color: #25072f; */
  padding: 12px;
  width: 100px;
  /* color: #4b8bf9; */
  color: #ffffff;
  cursor: pointer;
  outline: none;
  /* background-color: #cddeff; */
  background-color: #1da1f2;
  transition: 0.3s;
}

.register-button:hover, .register-button:focus {
  background-color: #006dbf;
  border-color: #006dbf;
  transition: 0.3s;
}

.register-error-message {
  font-size: 16px;
  margin: 0;
  color: red;
}

::placeholder {
  color: grey;
}
