
.comment-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 600px;
}

.commenter-name {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: grey;
}

.comment-body {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.comment-content {
  margin-top: 8px;
}
