

.site-title {
  font-size: 50px;
  font-family: 'Exo', sans-serif;
  color: inherit;
}

.top-nav {
  display: flex;
}

.top-nav > * {
  padding: 10px 15px;
  margin: 5px 10px;
  font-size: 18px;
}

.signout-button {
  background-color: inherit;
  outline: none;
  cursor: pointer;
  color: inherit;
  border: 1px solid;
  border-color: inherit;
  border-radius: 8px;
  transition: 0.3s;
}

.signout-button:not(.dark):hover {
  background-color: var(--accent-3);
  border-color: var(--accent-3);
  color: var(--accent-1);
  transition: 0.3s;
}

.dark .signout-button:hover {
  color: var(--background-dark);
  background-color: var(--accent-1) !important;
  transition: 0.3s;
}
