.nav-header {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: #b889d1;
  color: #25072f;
  /* opacity: 0.6; */
}

.site-title {
  font-size: 30px;
  font-weight: bold;
}

.top-nav {
  display: flex;
}

.top-nav > * {
  padding: 10px 15px;
  margin: 5px 10px;
  font-size: 18px;
}

.signout-button {
  width: 110px;
  color: #4e0e62;
  cursor: pointer;
  outline: none;
  border: 2px solid #4e0e62;
  border-radius: 5px;
  background: transparent;
}

.signout-button:hover {
  color: #25072f;
  border-color: #25072f;
}
