.post-malone {
  /* border-top: 1px solid grey;
  border-bottom: 1px solid grey; */
  padding: 10px;
  /* margin: 0 10px; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 600px;
}

.post-body {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.title {
  text-decoration: none;
  cursor: pointer;
  color: #399ee8;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.post-link {
  text-decoration: none;
}

.post-link:active {
  color: inherit;
}

.author {
  color: grey;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.content {
  /* padding-top: 8px; */
}

.comments-tag {
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
