.new-post-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  /* margin: 10px 10px 20px 10px; */
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.new-post-button {
  font-size: 18px;
  border: 2px solid #4b8bf9;
  border-radius: 30px;
  background-color: #4b8bf9;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 0;
  transition: 0.2s;
}

.new-post-button:hover, .new-post-button:focus  {
  border-color: #1c62da;
  background-color: #1c62da;
  transition: 0.2s;
}

.new-post-field {
  border: 2px solid #4b8bf9;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  resize: none;
  font-size: 18px;
  margin: 5px 0;
  width: 500px;
}

.new-post-field:focus {
  border-color: #1c62da;
  /* box-shadow: 0 0 0 1px rgb(77, 144, 254); */
}

.prompt {
  font-size: 18px;
  color: inherit;
  /* color: #25072f; */
}

.alert-box {
  color: red;
}

.invalid {
  border: 2px solid red !important;
}
