.home-container {
  position: relative;
  display: grid;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 130px
                      1fr;
  grid-template-areas: 'na na'
                       'si co';
  min-height: 100vh;
  transition: all 150ms ease-out !important;
}

.home-container.dark {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
  transition: all 150ms ease-out !important;
}

.sidebar {
  grid-area: si;
  background-color: #171c28;
  color: #c1c1d0;
  height: 100%;
}

.navigation {
  grid-area: na;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #71eeb8;
  color: var(--accent-3);
  height: 100%;
  margin: 0;
  transition: all 150ms ease-out !important;
}

.dark .navigation {
  background-color: #111010;
  color: #71eeb8;
  transition: all 150ms ease-out !important;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  grid-area: co;
  /* max-width: 600px; */
  /* padding-left: 20px; */
}

main {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.home-page {
  margin: 30px;
}

.home-page > h1 {
  margin: 0;
  color: inherit;
}

.home-page > p {
  color: inherit;
}
